#
# {{ ansible_managed }}
#

# =================================================================
# Default listener
# =================================================================

# IP address/hostname to bind the default listener to. If not
# given, the default listener will not be bound to a specific 
# address and so will be accessible to all network interfaces.
# bind_address ip-address/host name
{% if mosquitto__bind_address != False %}
bind_address {{ mosquitto__bind_address }}
{% endif %}

# Port to use for the default listener.
port {{ mosquitto__port }}

