#
# {{ ansible_managed }}
#

# =================================================================
# Other configuration options configured with mosquitto__raw_config variable
# =================================================================

{{ mosquitto__raw_config }}

